<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Volunteer Schedules</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Volunteer Schedules' list</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Number ID</th>
        <th>Day</th>
        <th>Start Hour</th>
        <th>Final Hour</th>
        <th>Status</th>
        <th>Beneficiary ID</th>
        <th>Volunteer ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="volunteersSchedule: ${volunteersSchedules}">
        <td th:text="${volunteersSchedule.numberID}"></td>
        <td th:text="${volunteersSchedule.day}"></td>
        <td th:text="${volunteersSchedule.startHour}"></td>
        <td th:text="${volunteersSchedule.finalHour}"></td>
        <td th:text="${volunteersSchedule.status}"></td>
        <td th:text="${volunteersSchedule.beneficiaryID}"></td>
        <td th:text="${volunteersSchedule.volunteerID}"></td>
        <td><a th:href="@{/volunteerSchedule/update/{nom}(nom=${volunteersSchedule.numberID})}"><button type="button" class="btn btn-warning">Update</button></a>
        </td>
        <td><a th:href="@{/volunteerSchedule/delete/{nom}(nom=${volunteersSchedule.numberID})}"><button type="button" class="btn btn-danger">Delete</button></a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="add"><button type="button" class="btn btn-success">Add Volunteer's Schedule</button></a>
</body>
</html>