<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a new Request</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sah.css" th:href="@{/css/sah.css}"/>

</head>
<body>
<h2>New Request</h2>
<form action="#" th:action="@{/request/add}"
      th:object="${request}" method="post">
    <table>
        <tr>
            <td><label>Number ID</label></td>
            <td><input type="text" th:field="*{number_id}" /></td>
            <td th:if="${#fields.hasErrors('number_id')}" th:errors="*{number_id}" class="error"></td>
        </tr>
        <tr>
            <td><label>Status</label></td>
            <td>
                <input list="requestStatus" name="requestStatus" th:field="*{status}" />
                <datalist id="requestStatus">
                    <option value="0 : APPROVED">
                    <option value="1 : REJECTED">
                    <option value="2 : UNSOLVED">
                </datalist>
            </td>
            <td th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="error"></td>
        </tr>
        <tr>
            <td><label>Service Type</label></td>
            <td>
                <input list="servicesType" name="serviceType" th:field="*{type}" />
                <datalist id="servicesType">
                    <option value="CATERING">
                    <option value="PHYSIOTHERAPY">
                    <option value="NURSING">
                    <option value="LAUNDRY">
                    <option value="CLEANING">
                </datalist>
            </td>
            <td th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="error"></td>
        </tr>
        <tr>
            <td><label>Start Date</label></td>
            <td><input type="date" th:field="*{start_date}" /></td>
            <td th:if="${#fields.hasErrors('start_date')}" th:errors="*{start_date}" class="error"></td>
        </tr>
        <tr>
            <td><label>Final Date</label></td>
            <td><input type="date" th:field="*{final_date}" /></td>
            <td th:if="${#fields.hasErrors('final_date')}" th:errors="*{final_date}" class="error"></td>
        </tr>
        <tr>
            <td><label>Approval Date</label></td>
            <td><input type="date" th:field="*{approval_date}" /></td>
        </tr>
        <tr>
            <td><label>Reject Date</label></td>
            <td><input type="date" th:field="*{reject_date}" /></td>
        </tr>
        <tr>
            <td><label>Comments</label></td>
            <td><input type="text" th:field="*{comments}" /></td>
        </tr>
        <tr>
            <td><label>Beneficiary ID</label></td>
            <td><input type="text" th:field="*{beneficiary_id}" /></td>
            <td th:if="${#fields.hasErrors('beneficary_id')}" th:errors="*{beneficiary_id}" class="error"></td>
        </tr>
        <tr>
            <td><label>Contract ID</label></td>
            <td><input type="text" th:field="*{contract_id}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Add Request" /></td>
        </tr>
    </table>
</form>
</body>
</html>