<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Requests</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/sah.css" th:href="@{/css/sah.css}"/>

</head>
<body>
<h1>Requests' List</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Number ID</th>
        <th>Service Type</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>Final Date</th>
        <th>Approval Date</th>
        <th>Reject Date</th>
        <th>Comments</th>
        <th>Beneficiary ID</th>
        <th>Contract ID</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request: ${requests}">
        <td th:text="${request.number_id}"></td>
        <td th:text="${request.status}"></td>
        <td th:text="${request.type}"></td>
        <td th:text="${request.start_date}"></td>
        <td th:text="${request.final_date}"></td>
        <td th:text="${request.approval_date}"></td>
        <td th:text="${request.reject_date}"></td>
        <td th:text="${request.comments}"></td>
        <td th:text="${request.beneficiary_id}"></td>
        <td th:text="${request.contract_id}"></td>
        <td><a th:href="@{/request/update/{number_id}(number_id=${request.number_id})}"><button type="button" class="btn btn-warning">Update</button></a>
        </td>
        <td><a th:href="@{/request/delete/{number_id}(number_id=${request.number_id})}"><button type="button" class="btn btn-danger">Delete</button></a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="add"><button type="button" class="btn btn-success">Add Request</button></a>
</body>
