<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modify a Request</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Edit Request</h2>
<form action="#" th:action="@{/request/update}"
      th:object="${request}" method="post">
    <table>
        <tr>
            <td><label>Number ID</label></td>
            <td><input type="text" th:field="*{number_id}" /></td>
        </tr>
        <tr>
            <td><label>Status</label></td>
            <td><input type="text" th:field="*{status}" /></td>
        </tr>
        <tr>
            <td><label>Service Type</label></td>
            <td><input type="text" th:field="*{type}" /></td>
        </tr>
        <tr>
            <td><label>Start Date</label></td>
            <td><input type="date" th:field="*{start_date}" /></td>
        </tr>
        <tr>
            <td><label>Final Date</label></td>
            <td><input type="date" th:field="*{final_date}" /></td>
        </tr>
        <tr>
            <td><label>Approval Date</label></td>
            <td><input type="date" th:field="*{approval_date}" /></td>
        </tr>
        <tr>
            <td><label>Reject Date</label></td>
            <td><input type="date" th:field="*{reject_date}" /></td>
        </tr>
        <tr>
            <td><label>Comments</label></td>
            <td><input type="text" th:field="*{comments}" /></td>
        </tr>
        <tr>
            <td><label>Beneficiary ID</label></td>
            <td><input type="text" th:field="*{beneficiary_id}" /></td>
        </tr>
        <tr>
            <td><label>Contract ID</label></td>
            <td><input type="text" th:field="*{contract_id}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Update Request" /></td>
        </tr>
    </table>
</form>
</body>
</html>