<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Create a new Company</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sah.css" th:href="@{/css/sah.css}"/>

<style>
    h1{
        text-align: center;
    }
    td{
        text-align: center;
    }
    table{
        margin: 0 auto;
    }
    .selfbutton{
        cursor: pointer;
    }
</style>
</head>
<body>
<div layout:fragment="content" class="container">
<form action="#" th:action="@{/company/add}"
      th:object="${company}" method="post">
        <p><br></p>
        <p><br></p>
        <p><br></p>
        <h1>Add a Company</h1>
        <p><br></p>
    <table cellpadding="8" >
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="fiscalNumber">Fiscal Number :</label></td>
                <td><input type="text" class="form-control" th:id="fiscalNumber" th:field="*{fiscalNumber}"></td>
                <td th:if="${#fields.hasErrors('fiscalNumber')}" th:errors="*{fiscalNumber}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="name">Name :</label></td>
                <td><input type="text" class="form-control" th:id="name" th:field="*{name}"></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="email">Email :</label></td>
                <td><input type="text" class="form-control" th:id="email" th:field="*{email}"></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="responsibleName">Responsible Name :</label></td>
                <td><input type="text" class="form-control" th:id="responsibleName" th:field="*{responsibleName}"></td>
                <td th:if="${#fields.hasErrors('responsibleName')}" th:errors="*{responsibleName}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="responsiblePhoneNumber">Responsible Phone Number :</label></td>
                <td><input type="text" class="form-control" th:id="responsiblePhoneNumber" th:field="*{responsiblePhoneNumber}"></td>
                <td th:if="${#fields.hasErrors('responsiblePhoneNumber')}" th:errors="*{responsiblePhoneNumber}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="responsibleAddress">Responsible Address :</label></td>
                <td><input type="text" class="form-control" th:id="responsibleAddress" th:field="*{responsibleAddress}"></td>
                <td th:if="${#fields.hasErrors('responsibleAddress')}" th:errors="*{responsibleAddress}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="phoneNumber">Phone Number :</label></td>
                <td><input type="text" class="form-control" th:id="phoneNumber" th:field="*{phoneNumber}"></td>
                <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="userName">Username :</label></td>
                <td><input type="text" class="form-control" th:id="userName" th:field="*{userName}"></td>
                <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="password">Password :</label></td>
                <td><input type="password" class="form-control" th:id="password" th:field="*{password}"></td>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></td>
            </div>
        </tr>
    </table>
    <p><br></p>
    <table style="margin: 0 auto;" cellpadding="8">
        <td><input type="button" onclick="history.back()" name="Return" value="Return" class="selfbutton"></input></td>
        <td><input type="submit" class="selfbutton" value="Add Company" /></td>
    </table>
</form>
</div>
</body>
</html>