<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/sah.css"
          th:href="@{/css/sah.css}"/>
    <title>Login</title>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>-->
    <!--    <style>
            /* Make the image fully responsive */
            .carousel-inner img {
                width: 100%;
                height: 100%;
            }
        </style>-->
</head>
<body>
<div layout:fragment="content" class="container">
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <h1>Requests' List</h1>
    <p><br></p>
    <table>
        <table class="table table-striped" cellpadding="8" style="margin: 0 auto">
            <thead>
            <tr>
                <th>Service Type</th>
                <th>Start Date</th>
                <th>Final Date</th>
                <th>Approval Date</th>
                <th>Comments</th>
                <th>Days</th>
                <th>Start Hour</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request: ${listRequests}">
                <td th:text="${request.type}"></td>
                <td th:text="${request.start_date}"></td>
                <td th:text="${request.final_date}"></td>
                <td th:text="${request.approval_date}"></td>
                <td th:text="${request.comments}"></td>
                <td th:text="${request.days}"></td>
                <td th:text="${request.starthour}"></td>

                <td><a th:href="@{/company/updateRequest/{requestID}(requestID=${request.getNumber_id()})}">
                    <button type="button" class="selfbutton" style="width: 100px">Select days</button>
                </a>
                </td>


            </tr>


            </tbody>

        </table>
    </table>
</div>
</body>