<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modify a Company</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sah.css" th:href="@{/css/sah.css}"/>
    <p><br></p>
    <h1>Update a Company</h1>
    <p><br></p>
</head>
<style>
    h1{
        text-align: center;
    }
    td{
        text-align: center;
    }

    canvas{
        background-color:white;
    }
    table{
        margin: 0 auto;
    }
    body{
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSy5iQYsgbl319C94RR7OhVw6mCON9TZVWVTC7EwFqN5h0PUVAg&usqp=CAU");
    }
    .selfbutton{
        cursor: pointer;
    }
</style>
<body>
<form action="#" th:action="@{/company/update}"
      th:object="${company}" method="post">
    <table cellpadding="8">
        <tr>
            <td><label>Fiscal Number</label></td>
            <td><input type="text" th:field="*{fiscalNumber}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><label>Responsible Name</label></td>
            <td><input type="text" th:field="*{responsibleName}" /></td>
            <td th:if="${#fields.hasErrors('responsibleName')}" th:errors="*{responsibleName}" class="error"></td>
        </tr>
        <tr>
            <td><label>Responsible Phone Number</label></td>
            <td><input type="text" th:field="*{responsiblePhoneNumber}" /></td>
        </tr>
        <tr>
            <td><label>Responsible Address</label></td>
            <td><input type="text" th:field="*{responsibleAddress}" /></td>
        </tr>
        <tr>
            <td><label>Phone Number</label></td>
            <td><input type="text" th:field="*{phoneNumber}" /></td>
        </tr>
        <tr>
            <td><label>Username</label></td>
            <td><input type="text" th:field="*{userName}" /></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="text" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></td>
        </tr>
    </table>
    <p><br></p>
    <table style="margin: 0 auto;" cellpadding="8">
        <td><a href="/company/list"><input type="button" class="selfbutton" value="Return" /> </a></td>
        <td><input type="submit" class="selfbutton" value="Update Company" /></td>
    </table>
</form>
</body>
</html>