<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/sah.css"
          th:href="@{/css/sah.css}"/>
    <title>Company</title>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>

</head>
<body>
<div layout:fragment="content" class="container">
    <p><br></p>
    <p><br></p>
    <table cellpadding="8" style="margin: 0 auto">
        <tr>
            <td>
                <div class="card" style="width:400px;height: 520px">
                    <img class="card-img-top" src="https://us.123rf.com/450wm/drogatnev/drogatnev1511/drogatnev151100276/48674561-el-hombre-de-negocios-mano-que-sostiene-contrato-icono-de-estilo-de-dise%C3%B1o-moderno-plano-concepto-de-il.jpg?ver=6">
                    <div class="card-body">
                        <h4 class="card-title">Contracts' List</h4>
                        <a th:href="@{/company/listContracts}"> <button type="button" class="selfbutton float-right "style="width: 100px">See it</button></a>
                    </div>
                </div>
            </td>
            <td></td>
            <td>
                <div class="card" style="width:400px;height: 520px">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR__GYhqlR5jXf0YCF5D6x19DkmxBomSiXf5HeyRx13O7sy4ped&usqp=CAU">
                    <div class="card-body">
                        <h4 class="card-title">Valorations</h4>
                        <a th:href="@{/valoration/listbyrater/{numberid}(numberid=${company.fiscalNumber})}"> <button type="button" class="selfbutton float-right "style="width: 100px">See it</button></a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
