<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/sah.css"
          th:href="@{/css/sah.css}"/>
    <title>Login</title>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>-->
    <!--    <style>
            /* Make the image fully responsive */
            .carousel-inner img {
                width: 100%;
                height: 100%;
            }
        </style>-->
</head>
<body>
<div layout:fragment="content" class="container">
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <table cellpadding="8" style="margin: 0 auto">
        <tr>
            <td>
                <div class="card" style="width:400px;height: 520px">
                    <img class="card-img-top" src="https://image.freepik.com/vector-gratis/hermosa-pareja-ancianos-sonriendo-dibujos-animados_18591-58158.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Register a beneficiary</h4>
                        <a href="/beneficiary/add"><button class="selfbutton" style="width: 60px">See it</button></a>
                    </div>
                </div>
            </td>
            <td></td>
            <td>
                <div class="card" style="width:400px;height: 520px">
                    <img class="card-img-top" src="https://image.freepik.com/vector-gratis/hermosa-pareja-ancianos-sonriendo-dibujos-animados_18591-58145.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Beneficiary List</h4>
                        <a href="/beneficiary/listbysocialworker"><button class="selfbutton" style="width: 60px">See it</button></a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
