<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Create a new Valoration</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>New Valoration</h2>
<form action="#" th:action="@{/valoration/add}" th:object="${valoration}" method="post">
    <table>
        <tr>
            <td><label>Valoration ID</label></td>
            <td><input type="text" th:field="*{idValoration}" /></td>
            <td th:if="${#fields.hasErrors('idValoration')}" th:errors="*{idValoration}" class="error"></td>
        </tr>
        <tr>
            <td><label>Rate</label></td>
            <td><input type="number" step="any" th:field="*{rate}" /></td>
            <td th:if="${#fields.hasErrors('rate')}" th:errors="*{rate}" class="error"></td>
        </tr>
        <tr>
            <td><label>Comment</label></td>
            <td><input type="text" th:field="*{comment}" /></td>
            <td th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" class="error"></td>
        </tr>
        <tr>
            <td><label>Volunteer ID</label></td>
            <td><input type="text" th:field="*{idVolunteer}" /></td>
            <td th:if="${#fields.hasErrors('idVolunteer')}" th:errors="*{idVolunteer}" class="error"></td>
        </tr>
        <tr>
            <td><label>CompanyID</label></td>
            <td><input type="text" th:field="*{idCompany}" /></td>
            <td th:if="${#fields.hasErrors('idCompany')}" th:errors="*{idCompany}" class="error"></td>
        </tr>
        <tr>
            <td><label>Beneficiary ID</label></td>
            <td><input type="text" th:field="*{idBeneficiary}" /></td>
            <td th:if="${#fields.hasErrors('idBeneficiary')}" th:errors="*{idBeneficiary}" class="error"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Add Valoration"/></td>
        </tr>
    </table>
</form>
</body>
</html>