<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modify a valoration</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Edit Valoration</h2>
<form action="#" th:action="@{/valoration/update}" th:object="${valoration}" method="post">
    <table>
        <tr>
            <td><label>Number ID</label></td>
            <td><input type="text" th:field="*{idValoration}" /></td>
        </tr>
        <tr>
            <td><label>Rate</label></td>
            <td><input type="number" th:field="*{rate}" /></td>
        </tr>
        <tr>
            <td><label>Comment</label></td>
            <td><input type="text" th:field="*{comment}" /></td>
        </tr>
        <tr>
            <td><label>Volunteer ID</label></td>
            <td><input type="text" th:field="*{idVolunteer}" /></td>
        </tr>
        <tr>
            <td><label>Company ID</label></td>
            <td><input type="text" th:field="*{idCompany}" /></td>
        </tr>
        <tr>
            <td><label>Beneficiary ID</label></td>
            <td><input type="text" th:field="*{idBeneficiary}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Update Valoration"/></td>
        </tr>
    </table>
</form>
</body>
</html>