<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- app css  -->
    <link type="text/css" th:href="@{/css/sah.css}" href="/css/sah.css"
          rel="stylesheet"/>

    <title layout:title-pattern="$CONTENT_TITLE">Seniors at Home</title>
    <style>
        div.contenido {
            position: static;
            top: 25%;
        }
        div.footer {
            margin: auto;
        }
    </style>
</head>

<body class="container" style="margin: 0px 15% 0px 15%;">
<div class="fixed-top">
<div th:replace="fragments/nav"></div>
<div th:replace="fragments/logininfo"></div>
</div>
<div class="contenido" layout:fragment="content"></div>
<div class="footer">
    <footer>
        <hr>
        <p class="text-muted">CAS - Seniors at Home. Contact us by calling 612839168 or email sah@info.com</p>
    </footer>
</div>
</body>
</html>
