<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login info</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/sah.css"
          th:href="@{/css/sah.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-light navbar-fill">
    <div class="d-flex justify-content-around navbar-collapse collapse">
        <a class="navbar-brand" href="#">
            <img src="https://images.squarespace-cdn.com/content/v1/57967595414fb5d421dfc59e/1470334571248-FPDW0IQNURGJGN2OVW6N/ke17ZwdGBToddI8pDm48kIeV9u3nkHLpoUO5_OOzMuR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UZSRBd67w7DbB35wa6zlZjHagAE8lK3uFsotwjjMgWSuhMNhSClprbddOHo9kllY8A/SAH.jpg" width="30" height="30" style="border-radius:16px;" class="d-inline-block align-top" alt="">
            SAH
        </a>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/}">HOME</a></li>
            </ul>
        </div>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="sahdrop" data-toggle="dropdown">
                        What is SAH?
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/others/services" th:href="@{/others/services}">Service List</a>
                        <a class="dropdown-item" href="/others/mission" th:href="@{/others/mission}">Our mission</a>
                        <!--<a class="dropdown-item" href="/others/objectives" th:href="@{/others/objectives}">Objectives</a>-->
                        <a class="dropdown-item" href="/others/history" th:href="@{/others/history}">Our History</a>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ><a class="nav-link" href="/others/contact" th:href="@{/others/contact}">Contact Us</a></li>
            </ul>
        </div>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="signupdrop" data-toggle="dropdown">
                        Sign up
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/volunteer/add" th:href="@{/volunteer/add}">Offer as a volunteer</a>
                        <a class="dropdown-item" href="/beneficiary/add" th:href="@{/beneficiary/add}">Register as a beneficiary</a>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ><a class="nav-link" href="/login" th:href="@{/login}">Log in</a></li>
            </ul>
        </div>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ><a class="nav-link" href="/profile/enter" th:href="@{/profile/enter}">Profile</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>