<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <style>
        table{
            margin: 0 auto;
        }
        td{
            padding: 5px;
        }
    </style>
    <title>Create a new Volunteer</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sah.css" th:href="@{/css/sah.css}"/>
</head>
<body>

<div layout:fragment="content" style="left: 45%" class="container">
    <p><br></p>
    <p><br></p>
    <p><br></p>
<h1>New Volunteer</h1>
    <p><br></p>
<form action="#" th:action="@{/volunteer/add}"
      th:object="${volunteer}" method="post">
    <table>
        <tr>
            <td><label>Number ID : </label></td>
            <td><input type="text" th:field="*{idNumber}" /></td>
            <td th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}" class="error"></td>
        </tr>
        <tr>
            <td><label>Name : </label></td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></td>
        </tr>
        <tr>
            <td><label>Phone Number : </label></td>
            <td><input type="text" th:field="*{phoneNumber}" /></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error"></td>
        </tr>
        <tr>
            <td><label>Email : </label></td>
            <td><input type="text" th:field="*{email}" /></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></td>
        </tr>
        <tr>
            <td><label>Address : </label></td>
            <td><input type="text" th:field="*{address}" /></td>
            <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error"></td>
        </tr>
        <tr>
            <td><label>User Name : </label></td>
            <td><input type="text" th:field="*{userName}" /></td>
            <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error"></td>
        </tr>
        <tr>
            <td><label>Password : </label></td>
            <td><input type="text" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></td>
        </tr>
        <tr>
            <td><label>Request Date : </label></td>
            <td><input type="date" th:field="*{requestDate}" /></td>
            <td th:if="${#fields.hasErrors('requestDate')}" th:errors="*{requestDate}" class="error"></td>
        </tr>
        <tr>
            <td><label>Approval Date : </label></td>
            <td><input type="date" th:field="*{approvalDate}" /></td>
            <td th:if="${#fields.hasErrors('approvalDate')}" th:errors="*{approvalDate}" class="error"></td>
        </tr>
    </table>
    <p><br></p>
    <center>
        <input type="button" onclick="history.back()" name="Return" value="Return" class="selfbutton"></input>
        <input type="submit" class="selfbutton" value="Add Volunteer"/></button></a>
    </center>


</form>
</div>
</body>
</html>