<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    h1{
        text-align: center;
    }
    td{
        text-align: center;
    }
    table{
        margin: 0 auto;
    }
    .selfbutton{
        cursor: pointer;
    }

</style>
<head>
    <p><br></p>
    <h1>New Volunteer's Schedule</h1>
    <p><br></p>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sah.css" th:href="@{/css/sah.css}"/>
</head>
<body>
<form action="#" th:action="@{/schedule/add}"
      th:object="${schedule}" method="post">
    <table>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="day">Day :</label></td>
                <td><input type="date" class="form-control" th:id="day" th:field="*{day}"></td>
                <td th:if="${#fields.hasErrors('day')}" th:errors="*{day}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="starthour">Start Hour :</label></td>
                <td><input type="time" class="form-control" th:id="starthour" th:field="*{starthour}"></td>
                <td th:if="${#fields.hasErrors('starthour')}" th:errors="*{starthour}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="finalhour">Final Hour :</label></td>
                <td><input type="time" class="form-control" th:id="finalhour" th:field="*{finalhour}"></td>
                <td th:if="${#fields.hasErrors('finalhour')}" th:errors="*{finalhour}" class="error"></td>
            </div>
        </tr>
    </table>
    <p><br></p>
    <table style="margin: 0 auto;" cellpadding="8">
        <td><a th:href="@{/schedule/listByUser}"> <button type="button" class="selfbutton" style="width: 100px">Return</button></a></td>
        <td><input type="submit" class="selfbutton" value="Add Schedule" /></td>
    </table>
</form>
</body>
</html>