<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/sah.css"
          th:href="@{/css/sah.css}"/>
    <title>Schedule List</title>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content" class="container">
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <h1>Schedule List</h1>
    <p><br></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Day</th>
            <th>Start Hour</th>
            <th>Final Hour</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="schedule: ${schedules}">
            <td th:text="${schedule.day}"></td>
            <td th:text="${schedule.starthour}"></td>
            <td th:text="${schedule.finalhour}"></td>
            <td th:text="${schedule.status} ? 'ACTIVE' : 'FREE'"/>
            <th:block>
                <td th:if="${schedule.status} == false"><a th:href="@{/schedule/delete/{numberid}(numberid=${schedule.numberid})}">
                    <button type="button" class="selfbutton">Delete</button>
                </a>
                </td>
            </th:block>
        </tr>
        </tbody>
    </table>
    <p><br></p>
    <table cellpadding="8" style="margin: 0 auto">
        <td><a th:href="@{/profile/volunteer}"> <button type="button" class="selfbutton" style="width: 100px">Return</button></a></td>
        <td><a th:href="add"><button type="button" class="selfbutton" style="border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px;">Add Volunteer's Schedule</button></a></td>
    </table>

</div>
</body>
</html>