<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modify a Volunteer's Schedule</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Edit Volunteer's Schedule</h2>
<form action="#" th:action="@{/schedule/update}"
      th:object="${schedule}" method="post">
    <table>
        <tr>
            <td><label>Number ID</label></td>
            <td><input type="text" th:field="*{numberid}" readonly="readonly" /></td>
            <td th:if="${#fields.hasErrors('numberid')}" th:errors="*{numberid}" class="error"></td>
        </tr>
        <tr>
            <td><label>Day</label></td>
            <td><input type="date" th:field="*{day}" /></td>
            <td th:if="${#fields.hasErrors('day')}" th:errors="*{day}" class="error"></td>
        </tr>
        <tr>
            <td><label>Start Hour</label></td>
            <td><input type="time" th:field="*{starthour}" /></td>
            <td th:if="${#fields.hasErrors('starthour')}" th:errors="*{starthour}" class="error"></td>
        </tr>
        <tr>
            <td><label>Final Hour</label></td>
            <td><input type="time" th:field="*{finalhour}" /></td>
            <td th:if="${#fields.hasErrors('finalhour')}" th:errors="*{finalhour}" class="error"></td>
        </tr>
        <tr>
            <td><label>Status</label></td>

            <td><input type="radio" id="Activo" name="status" value="true">
                <label for="Activo">Activo</label>
                <input type="radio" id="Inactivo" name="status" value="false">
                <label for="Inactivo">Inactivo</label>
            <td th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="error"></td>
            <br>
            </td>
        </tr>
        <tr>
            <td><label>Beneficiary ID</label></td>
            <td><input type="text" th:field="*{beneficiaryid}" /></td>
            <td th:if="${#fields.hasErrors('beneficiaryid')}" th:errors="*{beneficiaryid}" class="error"></td>
        </tr>
        <tr>
            <td><label>Volunteer ID</label></td>
            <td><input type="text" th:field="*{volunteerid}" /></td>
            <td th:if="${#fields.hasErrors('volunteerid')}" th:errors="*{volunteerid}" class="error"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Update Request" /></td>
        </tr>
    </table>
</form>
</body>
</html>