.container-all{
    width:100%;
    height:100%;
    position: fixed;
    background-color: #f5f5f5;
    text-align: center;
}

.popup{
    width: 25%;
    height: 140px;
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    background-color: #b3bb4c;
    text-align:center;
}

.container-text{
    overflow-y: auto;
    text-align:center;
}