.container-all{
    width:100%;
    height:100%;
    position: fixed;
    background-color: #f5f5f5;
    text-align: center;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.popup{
    width: 25%;
    height: 140px;
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    background-color: #b3bb4c;
    text-align:center;
}

.container-text{
    overflow-y: auto;
    text-align:center;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 400px; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 400px; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}