<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modify an invoice</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Edit Invoice</h2>
<form action="#" th:action="@{/invoice/update}" th:object="${invoice}" method="post">
    <table>
        <tr>
            <td><label>Number ID</label></td>
            <td><input type="text" th:field="*{numberID}" /></td>
        </tr>
        <tr>
            <td><label>Release Date</label></td>
            <td><input type="date" th:field="*{releaseDate}" /></td>
        </tr>
        <tr>
            <td><label>Start Date</label></td>
            <td><input type="date" th:field="*{startDate}" /></td>
        </tr>
        <tr>
            <td><label>Final Date</label></td>
            <td><input type="date" th:field="*{finalDate}" /></td>
        </tr>
        <tr>
            <td><label>Price</label></td>
            <td><input type="number" th:field="*{price}" /></td>
        </tr>
        <tr>
            <td><label>Beneficiary ID</label></td>
            <td><input type="text" th:field="*{beneficiaryID}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Update Invoice"/></td>
        </tr>
    </table>
</form>
</body>
</html>