<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/sah.css"
          th:href="@{/css/sah.css}"/>
    <title>Login</title>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>

</head>
<body>
<script type="text/javascript" th:inline="javascript">
    console.log("Hola");
    var usersName = [];
    var usersPass = [];
    /*[# th:each="usuario : ${usuarios}"]*/
    usersName.push("[(${usuario.username})]");
    /*[/]*/
    /*[# th:each="company : ${companies}"]*/
    usersPass.push("[(${usuario.password})]");
    /*[/]*/
    console.log(usersName[0]);
    console.log(usersPass[0]);
</script>
<div layout:fragment="content">
    <h2>Accés a login popup</h2>
    <form id="myForm" action="#" th:action="@{/login}"
          th:object="${user}" method="post">
        <p>
            <label>Username:</label>
            <input class="form_control" id="user" type="text" th:field="*{username}" th:value="${name}"/>
        <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </p>
        <p>
            <label>Password:</label>
            <input class="form_control" id="psw" type="password" th:field="*{password}" th:value="${pass}"/>
        <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </p>
        <input type="submit" value="Log in" />
    </form>
</div>
<script type="text/javascript" th:inline="javascript">
    console.log(document.getElementById("user").value);
    console.log(document.getElementById("psw").value);
</script>
</body>
</html>