<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">

<head>
    <style>
        h1{
            text-align: center;
        }
        td{
            text-align: center;
        }
        table{
            margin: 0 auto;
        }
        .selfbutton{
            cursor: pointer;
        }

    </style>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sah.css" th:href="@{/css/sah.css}"/>
</head>
<body>
<div layout:fragment="content" class="container">
<form action="#" th:action="@{/contract/add}"
      th:object="${contract}" method="post" id="form">
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <h1>Create a Contract</h1>
    <p><br></p>
    <table cellpadding="8" >
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="companyID">Company Name :</label></td>
                <td><select class="form-control" th:id="companyID" th:field="*{companyID}">
                    <option th:each="company: ${companies}" th:value="${company.name}" th:text="${company.name}"></option>
                </select></td>
                <td th:if="${#fields.hasErrors('companyID')}" th:errors="*{companyID}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
            <td class="rightForm"><label th:for="servicesType">Services Type :</label></td>
            <td><select class="form-control" th:id="servicesType" th:field="*{serviceType}">
                <option value="CATERING">CATERING</option>
                <option value="NURSING">NURSING</option>
                <option value="CLEANING">CLEANING</option>
            </select></td>
            <td th:if="${#fields.hasErrors('serviceType')}" th:errors="*{serviceType}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="quantity">Quantity :</label></td>
                <td><input type="number" class="form-control" th:id="quantity" th:field="*{quantity}"></td>
                <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="startDate">Start Date :</label></td>
                <td><input type="date" class="form-control" th:id="startDate" th:field="*{startDate}"></td>
                <td th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="finalDate">Final Date :</label></td>
                <td><input type="date" class="form-control" th:id="finalDate" th:field="*{finalDate}"></td>
                <td th:if="${#fields.hasErrors('finalDate')}" th:errors="*{finalDate}" class="error"></td>
            </div>
        </tr>
    </table>
    <p><br></p>
    <table style="margin: 0 auto;" cellpadding="8">
        <td><input type="button" onclick="history.back()" name="Return" value="Return" class="selfbutton"></input></td>
        <td><input type="submit" class="selfbutton" value="Add Contract" /></td>
        <td><a href="/company/add"><input type="button" class="selfbutton" value="Add company" /> </a></td>
    </table>
</form>
</div>
</body>
</html>