<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <style>
        .selfbutton {
            cursor: pointer;
        }
    </style>
    <link rel="stylesheet" type="text/css"
          href="/css/sah.css"
          th:href="@{/css/sah.css}"/>
    <title>Contracts' List</title>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>-->
    <!--    <style>
            /* Make the image fully responsive */
            .carousel-inner img {
                width: 100%;
                height: 100%;
            }
        </style>-->
</head>
<body>
<div layout:fragment="content" style="left: 29%" class="container">
    <p><br></p>
    <p><br></p>
    <h1 style="margin: 0 auto">Contracts' List</h1>
    <br>
    <table class="table table-striped" cellpadding="8" style="margin: 0 auto">
        <thead>
        <tr>
            <th>Service Type</th>
            <th>Quantity</th>
            <th>Start Date</th>
            <th>Final Date</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract: ${contracts}">
            <td th:text="${contract.serviceType}"></td>
            <td th:text="${contract.quantity}"></td>
            <td th:text="${contract.startDate}"></td>
            <td th:text="${contract.finalDate}"></td>
            <td><a th:href="@{/contract/update/{numberID}(numberID=${contract.numberID})}">
                <button type="button" class="selfbutton" style="width: 100px">Update</button>
            </a>
            </td>
            <td><a th:href="@{/contract/delete/{numberID}(numberID=${contract.numberID})}">
                <button type="button" class="selfbutton" style="width: 100px">Delete</button>
            </a>
            </td>
        </tr>
        </tbody>

    </table>
    <br>
    <table style="margin: 0 auto" cellpadding="8">
        <td>
            <a th:href="@{/profile/casmanager}"> <button type="button" class="selfbutton" style="width: 100px">Return</button></a>
        </td>
        <td>
            <a th:href="add">
                <button type="button" class="selfbutton">Add Contract</button>
            </a>
        </td>
    </table>
</div>
</body>
</html>
