<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    h1{
        text-align: center;
    }
    td{
        text-align: center;
    }
    table{
        margin: 0 auto;
    }
    .selfbutton{
        cursor: pointer;
    }

</style>
<head>
    <p><br></p>
    <h1>Update a Contract</h1>
    <p><br></p>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sah.css" th:href="@{/css/sah.css}"/>
</head>
<body>
<form action="#" th:action="@{/contract/update}"
      th:object="${contract}" method="post" id="form">
    
    <input type="text" class="form-control" th:id="numberid" th:field="*{numberID}" hidden>
    <table cellpadding="8" >
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="companyID">Company Name :</label></td>
                <td><select class="form-control" th:id="companyID" th:field="*{companyID}">
                    <th:block th:each="company : ${companies}">
                        <option th:if="${company.name} == ${actualcompany.name}" th:value="${company.name}" th:text="${company.name}" selected></option>
                    </th:block>
                    <th:block th:each="company : ${companies}">
                        <option th:if="${company.name} != ${actualcompany.name}" th:value="${company.name}" th:text="${company.name}"></option>
                    </th:block>
                </select></td>
                <td th:if="${#fields.hasErrors('companyID')}" th:errors="*{companyID}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="servicesType">Services Type :</label></td>
                <td><select class="form-control" th:id="servicesType" th:field="*{serviceType}">
                    <th:block th:each="service : ${services}">
                        <option th:if="${service} == ${actualservice}" th:value="${service}" th:text="${service}" selected></option>
                    </th:block>
                    <th:block th:each="service : ${services}">
                        <option th:if="${service} != ${actualservice}" th:value="${service}" th:text="${service}"></option>
                    </th:block>
                </select></td>
                <td th:if="${#fields.hasErrors('serviceType')}" th:errors="*{serviceType}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="quantity">Quantity :</label></td>
                <td><input type="number" class="form-control" th:id="quantity" th:field="*{quantity}"></td>
                <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="startDate">Start Date :</label></td>
                <td><input type="date" class="form-control" th:id="startDate" th:field="*{startDate}"></td>
                <td th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="error"></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td class="rightForm"><label th:for="finalDate">Final Date :</label></td>
                <td><input type="date" class="form-control" th:id="finalDate" th:field="*{finalDate}"></td>
                <td th:if="${#fields.hasErrors('finalDate')}" th:errors="*{finalDate}" class="error"></td>
            </div>
        </tr>
    </table>
    <p><br></p>
    <table style="margin: 0 auto;" cellpadding="8">
        <td><input type="button" onclick="history.back()" name="Return" value="Return" class="selfbutton"></input></td>
        <td><input type="submit" class="selfbutton" value="Update Contract" /></td>
    </table>
</form>
</body>
</html>