<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <style>
        img{
            height: 60px;
            width: 60px;
        }
        table{
            margin: 0 auto;
        }
        td{
            padding: 10px;
        }
    </style>
    <title>Contact Us</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/sah.css" th:href="@{/css/sah.css}"/>
</head>
<body>
<div layout:fragment="content" class="container">
    <p><br></p>
    <p><br></p>
    <p><br></p>

    <h1>Contact Us</h1>
    <p><br></p>
    <table>
        <tr>
            <td rowspan="2" style="text-align: left">
                <p>
                <img src="https://cdn1.iconfinder.com/data/icons/dashboard-line-style-1/32/dashboard__Email-256.png">
                    EMAILS :
                </p>
            </td>
            <td><p><b>Cristina Rubio Juárez : </b><i>al375866@uji.es</i></p></td>
            <td><p><b>Alex Martínez Martínez: </b><i>al375846@uji.es</i></p></td>
        </tr>
        <tr>
            <td><p><b>Isabel Cervera Tirado : </b><i>al316443@uji.es</i></p></td>
            <td><p><b>Adrián León Alonso : </b><i>al375840@uji.es</i></p></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.6209586086716!2d-0.07108898428550882!3d39.99457518912898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5ffe0f98be12e9%3A0x4e7634c2c3b978b7!2sEscuela%20Superior%20de%20Tecnologia%20I%20Ciencias%20Experimentales%2C%20Avenguda%20Avenida%20de%20Vicente%20Sos%20Baynat%2C%2012006%20Castell%C3%B3n%20de%20la%20Plana%2C%20Castell%C3%B3n!5e0!3m2!1ses!2ses!4v1588951936724!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </td>
        </tr>
    </table>
    <p><br></p>
    <center>
        <input type="button" onclick="history.back()" name="Return" value="Return" class="selfbutton"></input>
    </center>
    <p><br></p>
    <p><br></p>
</div>
</body>
</html>