<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Services List</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/sah.css" th:href="@{/css/sah.css}"/>
    <style>

    </style>
</head>
<body>
<div layout:fragment="content">

    <h2>Services List</h2>

    <p>
    Seniors At Home is  a project that aims to help older people so that they can be at home with the best possible comforts. For this we have contacted companies from all over the country so that anyone who needs it can have the help they deserve.
    <br>
        These are the services that we currently offer, if you are interested in any of them, you can become a user of our application.
    </p>


    <div>
        <fieldset style="border: 6px; padding: 5px;">
            <legend>CATERING</legend>

                We offer some takeae fwefqegq rrrg
        </fieldset>
    </div>
</div>
</body>
</html>