<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <style>
        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            text-align: right;
        }

        td {
            padding: 5px;
        }
    </style>
    <title>Create a new Beneficiary</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sah.css" th:href="@{/css/sah.css}"/>

</head>
<body>
<div layout:fragment="content" class="container">
    <p><br></p>
    <p><br></p>
    <p><br></p>
    <h1>New Beneficiary</h1>
    <p><br></p>
    <form action="#" th:action="@{/beneficiary/add}"
          th:object="${beneficiary}" method="post">
        <table>
            <tr>
                <div class="form-group">
                    <td class="rightForm"><label th:for="name">Name :</label></td>
                    <td><input type="text" class="form-control" th:id="name" th:field="*{name}"></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <td class="rightForm"><label th:for="surnames">Surnames :</label></td>
                    <td><input type="text" class="form-control" th:id="surnames" th:field="*{surnames}"></td>
                    <td th:if="${#fields.hasErrors('surnames')}" th:errors="*{surnames}" class="error"></td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <td class="rightForm"><label th:for="phoneNumber">PhoneNumber :</label></td>
                    <td><input type="text" class="form-control" th:id="phoneNumber" th:field="*{phoneNumber}"></td>
                    <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error"></td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <td class="rightForm"><label th:for="email">Email :</label></td>
                    <td><input type="text" class="form-control" th:id="email" th:field="*{email}"></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <td class="rightForm"><label th:for="address">Address :</label></td>
                    <td><input type="text" class="form-control" th:id="address" th:field="*{address}"></td>
                    <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error"></td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <td class="rightForm"><label th:for="userName">Username :</label></td>
                    <td><input type="text" class="form-control" th:id="userName" th:field="*{userName}"></td>
                    <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error"></td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <td class="rightForm"><label th:for="password">Password :</label></td>
                    <td><input type="text" class="form-control" th:id="password" th:field="*{password}"></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></td>
                </div>
            </tr>
        </table>
        <p><br></p>
        <table style="margin: 0 auto;" cellpadding="8">
            <td><input type="button" onclick="history.back()" name="Return" value="Return" class="selfbutton"></input></td>
            <td><input type="submit" class="selfbutton" value="Add Beneficiary"/></td>
        </table>
    </form>
</div>
</body>
</html>