<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<style>
    h1 {
        text-align: center;
    }

    td {
        text-align: center;
    }

    table {
        margin: 0 auto;
    }

    .selfbutton {
        cursor: pointer;
    }

</style>
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/sah.css"
          th:href="@{/css/sah.css}"/>
    <title>Unsolved requests</title>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content" class="container">
    <br>
    <p><br></p>
    <p><br></p>
    <h1>Social Worker's list</h1>
    <p><br></p>
    <table>
        <td>
            <input type="text" class="form-control" th:id="identifiaction_number"
                   th:field="${beneficiary.identificationNumber}" hidden>
            <table cellpadding="8">
                <tr >
                    <h2>Beneficiary</h2>
                </tr>
                <tr>
                    <div class="form-group">
                        <td class="rightForm"><label th:for="id">Id :</label></td>
                        <td><input type="text" class="form-control" th:id="id"
                                   th:field="${beneficiary.identificationNumber}" readonly></td>
                    </div>
                </tr>
                <tr>
                    <div class="form-group">
                        <td class="rightForm"><label th:for="name">Name :</label></td>
                        <td><input type="text" class="form-control" th:id="name" th:field="${beneficiary.name}"
                                   readonly></td>
                    </div>
                </tr>
                <tr>
                    <div class="form-group">
                        <td class="rightForm"><label th:for="surnames">Surnames :</label></td>
                        <td><input type="text" class="form-control" th:id="surnames" th:field="${beneficiary.surnames}"
                                   readonly></td>
                    </div>
                </tr>
                <tr>
                    <div class="form-group">
                        <td class="rightForm"><label th:for="phone_number">Phone Number :</label></td>
                        <td><input type="text" class="form-control" th:id="phone_number"
                                   th:field="${beneficiary.phoneNumber}"
                                   readonly></td>
                    </div>
                </tr>
                <tr>
                    <div class="form-group">
                        <td class="rightForm"><label th:for="email">Email :</label></td>
                        <td><input type="text" class="form-control" th:id="email" th:field="${beneficiary.email}"
                                   readonly></td>
                    </div>
                </tr>
                <tr>
                    <div class="form-group">
                        <td class="rightForm"><label th:for="address">Address :</label></td>
                        <td><input type="text" class="form-control" th:id="address" th:field="${beneficiary.address}"
                                   readonly></td>
                    </div>
                </tr>
            </table>
            <p><br></p>
            <table>
                <tr>
                    <td><br></td>
                </tr>
                <tr>
                    <td>

                        <a href="/request/listunsolved">
                            <button type="button" class="selfbutton">Return</button>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
        <td>

            <table class="table table-striped" cellpadding="8" style="text-align:center;margin: 0 auto">
                <thead>
                <tr >
                    <h2>SocialWorker</h2>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Surnames</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="socialworker: ${socialworkers}">
                    <td th:text="${socialworker.name}"></td>
                    <td th:text="${socialworker.surname}"></td>
                    <td th:text="${socialworker.email}"></td>
                    <td>
                        <a th:href="@{/beneficiary/assign/{identifiactionNumber}/{numberid}(identifiactionNumber=${beneficiary.identificationNumber}, numberid=${socialworker.numberid})}">
                            <button type="button" class="btn btn-warning">Assign</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </table>
</div>
</body>
</html>