<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <style>
        .selfbutton {
            cursor: pointer;
        }
    </style>
    <link rel="stylesheet" type="text/css"
          href="/css/sah.css"
          th:href="@{/css/sah.css}"/>
    <title>Hired Services List</title>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content" style="left: 29%" class="container">
    <p><br></p>
    <p><br></p>
    <h1 style="margin: 0 auto">Hired Services List</h1>
    <br>
    <table class="table table-striped" cellpadding="8" style="margin: 0 auto">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rater: ${raters}">
            <td th:text="${rater.name}"></td>
            <td th:text="${rater.serviceType}"></td>
            <td th:text="${rater.date}"></td>
            <td><a th:href="@{/valoration/rate/{identificationNumber}/{raterid}(identificationNumber=${beneficiary.identificationNumber}, raterid=${rater.raterid})}">
                <button type="button" class="selfbutton" style="width: 100px">Rate</button></a></td>
        </tr>
        </tbody>

    </table>
    <br>
    <table style="margin: 0 auto" cellpadding="8">
        <td>
            <a th:href="@{/profile/beneficiary}">
                <button type="button" class="selfbutton" style="width: 100px">Return</button></a>
        </td>
    </table>
</div>
</body>
</html>