<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Manage Beneficiaries</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/sah.css" th:href="@{/css/sah.css}"/>
</head>
<body>
<div layout:fragment="content" style="left: 1%">
<p><br></p>
<h1>Beneficiaries' List</h1>
<p><br></p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Identification Number</th>
        <th>Name</th>
        <th>Surnames</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Address</th>
        <th>Username</th>
        <th>Password</th>
        <th>Social Worker ID</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="beneficiary: ${beneficiaries}">
        <td th:text="${beneficiary.identificationNumber}"></td>
        <td th:text="${beneficiary.name}"></td>
        <td th:text="${beneficiary.surnames}"></td>
        <td th:text="${beneficiary.phoneNumber}"></td>
        <td th:text="${beneficiary.email}"></td>
        <td th:text="${beneficiary.address}"></td>
        <td th:text="${beneficiary.userName}"></td>
        <td th:text="${beneficiary.password}"></td>
        <td th:text="${beneficiary.socialWorkerID}"></td>
        <td><a th:href="@{/beneficiary/update/{identificationNumber}(identificationNumber=${beneficiary.identificationNumber})}"><button type="button" class="btn btn-warning">Update</button></a>
        </td>
        <td><a th:href="@{/beneficiary/delete/{identificationNumber}(identificationNumber=${beneficiary.identificationNumber})}"><button type="button" class="btn btn-danger">Delete</button></a>
        </td>
        </td>
        <td><a th:href="@{/beneficiary/requests/{identificationNumber}(identificationNumber=${beneficiary.identificationNumber})}"><button type="button" class="btn btn-primary">Requests</button></a>
        </td>
    </tr>
    </tbody>
</table>
<p><br></p>
<center>
<a th:href="add"><button type="button" class="btn btn-success">Add Beneficiary</button></a>
</center>
</body>
</html>