<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Request has been added correctly</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/sah.css" th:href="@{/css/sah.css}"/>
</head>
<body>

<div class="container-all" id="modal">
    <div class="popup">
        <div class="container-text">
            <h1>Request added correctly</h1>
            <p>Your request has been added to your list correctly.</p>
            <a href="/beneficiary/list"><button type="button" class="selfbutton">Okey</button></a>
        </div>
    </div>
</div>
</body>
</html>