<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Services</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/sah.css" th:href="@{/css/sah.css}"/>
</head>
<body>
<h1>My Services</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Number ID</th>
        <th>Service Type</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>Final Date</th>
        <th>Approval Date</th>
        <th>Reject Date</th>
        <th>Comments</th>
        <th>Beneficiary ID</th>
        <th>Contract ID</th>
    </tr>
    <tr th:each="request: ${requests}">
        <td th:text="${request.number_id}"></td>
        <td th:text="${request.status}"></td>
        <td th:text="${request.type}"></td>
        <td th:text="${request.start_date}"></td>
        <td th:text="${request.final_date}"></td>
        <td th:switch="${request.approval_date}"></td>
        <td th:switch="${request.reject_date}"></td>
        <td th:text="${request.comments}"></td>
        <td th:text="${request.beneficiary_id}"></td>
        <td th:text="${request.contract_id}"></td>
    </thead>
</table>
</form>
<a th:href="list"><button type="button" class=".selfbutton">Return</button></a>
</body>
</html>