<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        h1{
            text-align: center;
        }
        table{
            border: 1px solid black;
            text-align: left;
        }
        td{
            padding: 15px;
            border: 1px solid black;
        }
        tr{
            border: 1px solid black;
        }
        ul{
            padding: 10px;
        }
    </style>
    <title>My Services</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/sah.css" th:href="@{/css/sah.css}"/>
</head>
<p><br></p>
<h1>My Services</h1>
<p><br></p>
<table class="table table-striped">
    <tr style="text-align: center">
        <td>APPROVED</td>
        <td>ON HOLD</td>
        <td>REJECTED</td>
    </tr>
    <tr>
        <td>
            <span th:each="approved: ${requests}" th:if="${approved.status} == 'APPROVED'">
                <ul>
                    <li th:text="${approved.type}"></li>
                    <ul>
                        <li>Start date: <text th:text="${approved.start_date}"></text></li>
                        <li>Final date: <text th:text="${approved.final_date}"></text></li>
                    </ul>
                </ul>
            </span>
        </td>
        <td>
            <span th:each="unsolved: ${requests}" th:if="${unsolved.status} == 'UNSOLVED'">
                <ul>
                    <li th:text="${unsolved.type}"></li>
                    <ul>
                        <li>Start date : <text th:text="${unsolved.start_date}"></text></li>
                        <li>Final date: <text th:text="${unsolved.final_date}"></text></li>
                    </ul>
                </ul>
            </span>
        </td>
        <td>
            <span th:each="rejected: ${requests}"  th:if="${rejected.status} == 'REJECTED'">
                <ul>
                    <li th:text="${rejected.type}"></li>
                    <ul>
                        <li>Start date : <text th:text="${rejected.start_date}"></text></li>
                        <li>Final date: <text th:text="${rejected.final_date}"></text></li>
                    </ul>
                </ul>
            </span>
        </td>
    </tr>
</table>
<p><br></p>
<center>
    <a th:href="@{/beneficiary/servicesForm/{identificationNumber}(identificationNumber=${requests[0].beneficiary_id})}"><button type="button" class="selfbutton">Request for a service</button></a>
    <input type="button" onclick="history.back()" name="Return" value="Return" class="selfbutton"></input>
</center>
</form>
</body>
</html>