<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Request for a service</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sah.css" th:href="@{/css/sah.css}"/>


</head>
<body>
<p><br></p>
<h1>REQUEST FOR A SERVICE</h1>
<p><br></p>
<form action="#" th:action="@{/beneficiary/servicesForm}"
      th:object="${service}" method="post">
    <table>
        <tr>
            <td><label>Beneficiary ID</label></td>
            <td><input type="text" th:value="${id}" th:name="beneficiary_id" th:id="beneficiary_id" readonly="readonly"></td>
        </tr>
        <tr>
            <td><label>Service Type</label></td>
            <td>
                <input list="servicesType" name="serviceType" th:field="*{type}" />
                <datalist id="servicesType">
                    <option value="CATERING">
                    <option value="PHYSIOTHERAPY">
                    <option value="NURSING">
                    <option value="LAUNDRY">
                    <option value="CLEANING">
                </datalist>
            </td>
            <td th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="error"></td>
        </tr>
        <tr>
            <td><label>Start Date</label></td>
            <td><input type="date" th:field="*{start_date}" /></td>
            <td th:if="${#fields.hasErrors('start_date')}" th:errors="*{start_date}" class="error"></td>

        </tr>
        <tr>
            <td><label>Final Date</label></td>
            <td><input type="date" th:field="*{final_date}" /></td>
            <td th:if="${#fields.hasErrors('final_date')}" th:errors="*{final_date}" class="error"></td>

        </tr>
        <tr>
            <td><label>Comments</label></td>
            <td><input type="text" th:field="*{comments}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Add Request"/></td>
        </tr>
    </table>
</form>
</body>
</html>